
<body bgcolor="gray">

	<h1> Compte bonobo</h1>

<li class ="dropdown">

       <b>Veuillez vous connecter ou vous enregistrer </b>
	<ul class="drop-down-menu" role="menu">
		{% if not is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
		<li> <a href="{{path('fos_user_security_logout')}}" bgcolor ="black">Se déconnecter </a></li>

		{% else %}
		<li> <a href="{{path('fos_user_registration_register')}}">S'enregistrer </a> </li>
 		<li> <a href="{{path('fos_user_security_login')}}">Se connecter </a> </li>
         {% endif %}
	</ul>
</li>

</body>